main {
    width: 90vw;
    margin: 40px auto;
}

.meme--input-group,
.meme--label,
.meme--text-input {
    display:block;
    width: 100%;
    font-size: .9rem;
}

.meme-submit-btn,
.meme--text-input {
    padding: 8px 16px;
    border: 1px solid #374151;
    border-radius: 8px;
    font-family: inherit;
}
.meme--text-input {
    margin-top: 5px;
}

.meme--text-inputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px
}

.meme-submit-btn {
    width: 100%;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    margin-top:20px;
    color:white;
}

.meme--image {
    width: 100%;
    margin-top: 20px;
    border-radius: 4px;
}